/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */


#logo-group {
    width: 135px !important;
}

#extr-page-header-space>:first-child {
    font-size: 13px;
    margin-right: 0px;
    vertical-align: -3px;
    font-weight: 400;
}


#extr-page #header #logo {
    margin-top: 15px;
}

@media only screen and (min-width: 0) and (max-width:679px) {
    #extr-page #header #logo {
        margin-top: 15px;
    }
}

.smart-rtl #extr-page-header-space > :first-child {
    margin-right: 0px;
    margin-left: 0px;
}


input[type="text"]#Email, input[type="password"], #TimeZoneId,#Phone,#Username,#CountryId {
    direction: ltr;
}