@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

    //page title
    ViewBag.Title = T("Admin.Dashboard").Text;


}

<div class="content-header">
    <h1>
        @T("Admin.Dashboard")
        <small>@T("Admin.Dashboard.StoreStatistics")</small>
    </h1>
</div>
<div class="content">
    <div class="row">

    </div>
</div>
