@{
    Layout = "~/Views/Shared/_Dashboard_Root.cshtml";
}



@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}
<div id="content">


    @*<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
        </div>
    </div>*@


    @Html.Widget("main_column_before")
    @RenderBody()
    @Html.Widget("main_column_after")
</div>